*.sh
*.DS_Store
*.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode
*.pdf
*.hs
!tools-hs/**
*.hi
*.o
*.py
!main.pdf
!guide.pdf
!taco-card/taco-cards.pdf
!release.pdf
!release-dys.pdf
!count_exercises.sh
